body {
    margin: 0;
    padding: 25px;  
}

.header {
    border: 5px solid black; 
    box-sizing: border-box; 
    padding: 10px;  
    width: 100%; 
}

.tall-box {
    background-color: blueviolet; 
    height: 150px; 
    width: 50px; 
    display: inline-block; 
}

.rectangle {
    width: 400px; 
    height: 200px; 
    background-color: forestgreen; 
    display: inline-block; 
    margin: 0 50px; 
}

.circle {
    border-radius: 50%;
    background-color: skyblue;
    width: 200px; 
    height: 200px; 
    display: inline-block; 
}

.middle {
    width: 100%; 
    border: 5px dotted black; 
    box-sizing: border-box; 
    padding: 50px; 
    margin-top: 25px; 
}

.long-box {
    height: 200px; 
    width: 100%; 
    background-color: rgb(243, 243, 190);
    box-shadow: 10px 10px 5px 0px black; 
}

.footer {
    width: 50%; 
    box-sizing: border-box; 
    border: 1px solid lightgrey; 
    background-color: white; 
    box-shadow: 3px 3px 5px 0px darkgrey; 
    padding: 100px; 
    margin: 25px auto; 
}

.footer h1 {
    text-align: center;
    width: 100%; 
    color: navy; 
    letter-spacing: 10px; 
}